<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Old Testament</key>
		<array>
			<string>Gen</string>
			<string>Exod</string>
			<string>Lev</string>
			<string>Num</string>
			<string>Deut</string>
			<string>Josh</string>
			<string>Judg</string>
			<string>Ruth</string>
			<string>1Sam</string>
			<string>2Sam</string>
			<string>1Kgs</string>
			<string>2Kgs</string>
			<string>1Chr</string>
			<string>2Chr</string>
			<string>Ezra</string>
			<string>Neh</string>
			<string>Esth</string>
			<string>Job</string>
			<string>Ps</string>
			<string>Prov</string>
			<string>Eccl</string>
			<string>Song</string>
			<string>Isa</string>
			<string>Jer</string>
			<string>Lam</string>
			<string>Ezek</string>
			<string>Dan</string>
			<string>Hos</string>
			<string>Joel</string>
			<string>Amos</string>
			<string>Obad</string>
			<string>Jonah</string>
			<string>Mic</string>
			<string>Nah</string>
			<string>Hab</string>
			<string>Zeph</string>
			<string>Hag</string>
			<string>Zech</string>
			<string>Mal</string>
		</array>
		<key>New Testament</key>
		<array>
			<string>Matt</string>
			<string>Mark</string>
			<string>Luke</string>
			<string>John</string>
			<string>Acts</string>
			<string>Rom</string>
			<string>1Cor</string>
			<string>2Cor</string>
			<string>Gal</string>
			<string>Eph</string>
			<string>Phil</string>
			<string>Col</string>
			<string>1Thess</string>
			<string>2Thess</string>
			<string>1Tim</string>
			<string>2Tim</string>
			<string>Titus</string>
			<string>Phlm</string>
			<string>Heb</string>
			<string>Jas</string>
			<string>1Pet</string>
			<string>2Pet</string>
			<string>1John</string>
			<string>2John</string>
			<string>3John</string>
			<string>Jude</string>
			<string>Rev</string>
		</array>
		<key>Apocrypha</key>
		<array>
			<string>Tob</string>
			<string>Jdt</string>
			<string>EsthGr</string>
			<string>AddEsth</string>
			<string>Wis</string>
			<string>SirP</string>
			<string>Sir</string>
			<string>Bar</string>
			<string>EpJer</string>
			<string>DanGr</string>
			<string>AddDan</string>
			<string>PrAzar</string>
			<string>Sus</string>
			<string>Bel</string>
			<string>1Macc</string>
			<string>2Macc</string>
			<string>3Macc</string>
			<string>4Macc</string>
			<string>PrMan</string>
			<string>1Esd</string>
			<string>2Esd</string>
			<string>AddPs</string>
		</array>
		<key>Rahlfs LXX</key>
		<array>
			<string>Odes</string>
			<string>PssSol</string>
		</array>
		<key>Rahlfs variant</key>
		<array>
			<string>JoshA</string>
			<string>JudgB</string>
			<string>TobS</string>
			<string>SusTh</string>
			<string>DanTh</string>
			<string>BelTh</string>
		</array>
		<key>Ethiopian Canon</key>
		<array>
			<string>EpLao</string>
			<string>5Ezra</string>
			<string>4Ezra</string>
			<string>6Ezra</string>
			<string>PrSol</string>
			<string>PrJer</string>
			<string>1En</string>
			<string>Jub</string>
			<string>4Bar</string>
			<string>1Meq</string>
			<string>2Meq</string>
			<string>3Meq</string>
			<string>Rep</string>
			<string>AddJer</string>
			<string>PsJos</string>
		</array>
		<key>Armenian Canon</key>
		<array>
			<string>EpCorPaul</string>
			<string>3Cor</string>
			<string>WSir</string>
			<string>PrEuth</string>
			<string>DormJohn</string>
			<string>JosAsen</string>
			<string>T12Patr</string>
			<string>T12Patr.TAsh</string>
			<string>T12Patr.TBenj</string>
			<string>T12Patr.TDan</string>
			<string>T12Patr.TGad</string>
			<string>T12Patr.TIss</string>
			<string>T12Patr.TJos</string>
			<string>T12Patr.TJud</string>
			<string>T12Patr.TLevi</string>
			<string>T12Patr.TNaph</string>
			<string>T12Patr.TReu</string>
			<string>T12Patr.TSim</string>
			<string>T12Patr.TZeb</string>
		</array>
		<key>Syriac Canon</key>
		<array>
			<string>2Bar</string>
			<string>EpBar</string>
			<string>5ApocSyrPss</string>
			<string>JosephusJWvi</string>
		</array>
		<key>Apostolic Fathers</key>
		<array>
			<string>1Clem</string>
			<string>2Clem</string>
			<string>IgnEph</string>
			<string>IgnMagn</string>
			<string>IgnTrall</string>
			<string>IgnRom</string>
			<string>IgnPhld</string>
			<string>IgnSmyrn</string>
			<string>IgnPol</string>
			<string>PolPhil</string>
			<string>MartPol</string>
			<string>Did</string>
			<string>Barn</string>
			<string>Herm</string>
			<string>Herm.Mand</string>
			<string>Herm.Sim</string>
			<string>Herm.Vis</string>
			<string>Diogn</string>
			<string>AposCreed</string>
			<string>PapFrag</string>
			<string>RelElders</string>
			<string>QuadFrag</string>
		</array>
		<key>Other</key>
		<array>
			<string>TatDiat</string>
			<string>PsMet</string>
		</array>
	</dict>
</plist>
